In [ ]:
person = {"first" : "Charles",
          "last" : "Achigbulam",
          "email" : "achigbulamcharles@gmail.com"
          }

In [ ]:
people = {"first" : ["Charles"],
          "last" : ["Achigbulam"],
          "email" : ["achigbulamcharles@gmail.com"]
          }

In [ ]:
people = {
    "first" : ["Charles", 'Jane',  'John'],
          "last" : ["Achigbulam", 'Doe', 'Corey'],
          "email" : ["achigbulamcharles@gmail.com", 'JaneDoe@gmail.com','JoneCorey@gmail.com']
          }

In [ ]:
people["email"]

['achigbulamcharles@gmail.com', 'JaneDoe@gmail.com', 'JoneCorey@gmail.com']

In [ ]:
  import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

     first        last                        email
0  Charles  Achigbulam  achigbulamcharles@gmail.com
1     Jane         Doe            JaneDoe@gmail.com
2     John       Corey          JoneCorey@gmail.com

In [ ]:
df["email"]

0    achigbulamcharles@gmail.com
1              JaneDoe@gmail.com
2            JoneCorey@gmail.com
Name: email, dtype: object

In [ ]:
type(df["email"])

pandas.core.series.Series

In [ ]:
df.email

0    achigbulamcharles@gmail.com
1              JaneDoe@gmail.com
2            JoneCorey@gmail.com
Name: email, dtype: object

In [ ]:
df[["last", "email"]]

         last                        email
0  Achigbulam  achigbulamcharles@gmail.com
1         Doe            JaneDoe@gmail.com
2       Corey          JoneCorey@gmail.com

In [ ]:
type(df[["last", "email"]])

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [ ]:
df.iloc[0]

first                        Charles
last                      Achigbulam
email    achigbulamcharles@gmail.com
Name: 0, dtype: object

In [ ]:
df.iloc[[0,1]]

     first        last                        email
0  Charles  Achigbulam  achigbulamcharles@gmail.com
1     Jane         Doe            JaneDoe@gmail.com

In [ ]:
df.iloc[[0,1], 2]

0    achigbulamcharles@gmail.com
1              JaneDoe@gmail.com
Name: email, dtype: object

In [ ]:
df

     first        last                        email
0  Charles  Achigbulam  achigbulamcharles@gmail.com
1     Jane         Doe            JaneDoe@gmail.com
2     John       Corey          JoneCorey@gmail.com

In [ ]:
df.loc[0]

first                        Charles
last                      Achigbulam
email    achigbulamcharles@gmail.com
Name: 0, dtype: object

In [ ]:
df.loc[[0,1], ['email', 'last']]

                         email        last
0  achigbulamcharles@gmail.com  Achigbulam
1            JaneDoe@gmail.com         Doe

In [ ]:
df["email"]

0    achigbulamcharles@gmail.com
1              JaneDoe@gmail.com
2            JoneCorey@gmail.com
Name: email, dtype: object

In [ ]:
df.set_index("email")

                               first        last
email
achigbulamcharles@gmail.com  Charles  Achigbulam
JaneDoe@gmail.com               Jane         Doe
JoneCorey@gmail.com             John       Corey

In [ ]:
df

     first        last                        email
0  Charles  Achigbulam  achigbulamcharles@gmail.com
1     Jane         Doe            JaneDoe@gmail.com
2     John       Corey          JoneCorey@gmail.com

In [ ]:
 df.set_index("email", inplace=True)

In [ ]:
df

                               first        last
email
achigbulamcharles@gmail.com  Charles  Achigbulam
JaneDoe@gmail.com               Jane         Doe
JoneCorey@gmail.com             John       Corey

In [ ]:
df.index

Index(['achigbulamcharles@gmail.com', 'JaneDoe@gmail.com',
       'JoneCorey@gmail.com'],
      dtype='object', name='email')

In [ ]:
df.loc['achigbulamcharles@gmail.com', 'last']

'Achigbulam'

In [ ]:
df.iloc[0]

first       Charles
last     Achigbulam
Name: achigbulamcharles@gmail.com, dtype: object

In [ ]:
df.reset_index(inplace=True)
df

                         email    first        last
0  achigbulamcharles@gmail.com  Charles  Achigbulam
1            JaneDoe@gmail.com     Jane         Doe
2          JoneCorey@gmail.com     John       Corey

In [ ]:
filt = (df["last"] == "Doe")

In [ ]:
df[filt]

               email first last
1  JaneDoe@gmail.com  Jane  Doe

In [ ]:
df.loc[filt, 'email']

1    JaneDoe@gmail.com
Name: email, dtype: object

In [ ]:
filt = (df["last"] == "Doe") | (df["first"] == "John")

In [ ]:
df.loc[filt, 'email']

1      JaneDoe@gmail.com
2    JoneCorey@gmail.com
Name: email, dtype: object

In [ ]:
df.loc[~filt, 'email']

0    achigbulamcharles@gmail.com
Name: email, dtype: object

In [ ]:
df.loc[filt]

                 email first   last
1    JaneDoe@gmail.com  Jane    Doe
2  JoneCorey@gmail.com  John  Corey